body {
    font-family: Arial;
    background-color: #219ebc; 
    padding: 40dpx 0;
}

h1 {
    font-size: 36px;
    font-weight: bold;
}
h2 {
    font-size: 28px;
}
h3 p{
    margin-bottom: 2%;
}

.container {
    width: auto;
    height: auto;
}

.main{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #023047;
    min-width: fit-content;
}
.underHeader {
    display: flex;
    width: 90%;
    padding-left: 40px;
    align-items: center;
    justify-content: center;
    margin: 3% 3%;
    text-align: center;
}

.underHeader #item{
    margin-left: 5px;
}

.pageTitle {
    color: #fb8500;
    text-shadow: 2px 2px 3px #ffb703;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

section {
    display: flex;
    width: 90%;
    padding: 10px 10px;
    margin-bottom: 10px;
    box-shadow: 3px 3px 5px black;
    background-color: #8ecae6;
}

section img {
    padding: 5px 10px;
    width: 25%;
    max-height: 180px;
    max-width: 250px;
    padding-right: 20px;
}
img {
    max-width: 35%;
    max-height: 30%;
}

section div{
    display: block;
    padding: 0px 10px;
    width: 100%;
}

.readMoreContainer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

#link{
    background-color: #023047;
    width: max-content;
    padding: 1% 1%;
    height: max-content;
    color: #fb8500;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5%;
    transition: background-color 0.5s, color 0.5s;
    border-radius: 26px;
}

#link:hover {
    color: white;
    background-color: cornflowerblue;
}

#link:focus{
    outline: none;
    color: white;
    background-color: cornflowerblue;
}

#link:active{
    color: #023047;
    background-color: #fb8500;
}



